*{
    margin:0;
    padding:0;
}
body {
    background-color: rgba(165, 66, 0, 0.94);
}

@font-face {
    font-family: 'Conv_Micra Normal';
    src: url('font/Lexa/Micra Normal.eot');
    src: local('☺'),
    url('font/Lexa/Micra Normal.woff') format('woff'),
    url('font/Lexa/Micra Normal.ttf') format('truetype'),
    url('font/Lexa/Micra Normal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'catholicschoolgirls_bbregular';
    src: url('font/School/catholic_school_girl_bb.eot');
    src: url('font/School/catholic_school_girl_bb.eot?#iefix') format('embedded-opentype'),
    url('font/School/catholic_school_girl_bb.woff2') format('woff2'),
    url('font/School/catholic_school_girl_bb.woff') format('woff'),
    url('font/School/catholic_school_girl_bb.ttf') format('truetype'),
    url('font/School/catholic_school_girl_bb.svg#catholicschoolgirls_bbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oedipaplain';
    src: url('font/Girl/oedipa_plain.eot');
    src: url('font/Girl/oedipa_plain.eot?#iefix') format('embedded-opentype'),
    url('font/Girl/oedipa_plain.woff2') format('woff2'),
    url('font/Girl/oedipa_plain.woff') format('woff'),
    url('font/Girl/oedipa_plain.ttf') format('truetype'),
    url('font/Girl/oedipa_plain.svg#oedipaplain') format('svg');
    font-weight: normal;
    font-style: normal;

}
.shapka {
    width:100%;
    height:270px;
    margin: 0 auto;
    margin-top:0px;
    margin-bottom:25px;
    background-color: #DFAF7B;
    box-shadow: 0px 4px 18px 1px rgb(38, 43, 42)
}
.shapka .strokamenu {
    width:100%;
    height:60px;
    margin: 0 auto;
    margin-top:0px;
    background-color: #8fd996;
}
.shapka .strokamenu p {
    font-family: 'Main';
    text-align: center;
    font-size:46px;
    font-weight:bold;
    color: #dffff5
}
.shapka .strokamenu .video {
    width:25%;
    height:60px;
    float: left;
    background-color: #ff6800;
}
.shapka .strokamenu .read {
    width:25%;
    height:60px;
    float: left;
    background-color: #763F1B;
}
.shapka .strokamenu .image {
    width:25%;
    height:60px;
    float: left;
    background-color: #741289;
}
.shapka .strokamenu .about {
    width:25%;
    height:60px;
    float: left;
    background-color: #4C4848;
}
.shapka .ottenok {
    width:100%;
    height:60px;
    margin: 0 auto;
    margin-top:0px;
    background-color: #763F1B;
    box-shadow: 0px 4px 17px 1px rgb(87, 83, 65);
}

#left {
    width:19.5%;
    height:250px;
    float:left;
    border:2px solid transparent;
    position:fixed;
    left:0%;
}
#left .reklamaleft1 {
    width:80%;
    min-height:210px;
    margin:0 auto;
    margin-bottom:125px;
    background-color:rgb(221, 221, 221);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -3px 2px 6px 0px rgb(38, 43, 42);
}
#left .reklamaleft1 .p1 {
    color: #dffff5;
    font-size:30px;
    font-weight:bold;
    text-align: center;
    border-bottom: 5px solid rgba(214, 82, 82, 0.87);
    padding-bottom:10px;
    margin-bottom: 15px;
    margin-top:15px;
    background-color: rgb(120, 116, 123);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: -3px 2px 6px 0px rgb(38, 43, 42)
}
#left .reklamaleft1 .p2 {
    color: #A5A1B2;
    font-size:19px;
    font-weight:bold;
    text-align: center;


    margin-bottom: 15px;
    margin-top:35px;

}
#left .reklamaleft1 .p2 .buttnext {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(214, 82, 82, 0.87);
    border-radius: 20px;
    padding: 2px 26px 5px;
    font-size: 19px;
    font-weight:bold;
    letter-spacing: 1px;
    box-shadow: -7px 7px 7px -7px rgb(59, 77, 74);
}
#left .reklamaleft1 .p2 .buttnext:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(214, 82, 82, 0.87);
    border-radius: 20px;
    padding: 3px 36px 7px;
    font-size: 19px;
    font-weight:bold;
    letter-spacing: 1px;
    box-shadow: -7px 7px 7px -7px rgb(59, 77, 74);
}
#center {
    width:60%;
    float:left;
    margin-left: 19.85%;
    padding-top: 40px;
    background-color: rgba(222, 220, 223, 0.94);
    margin-top:-58px;
    box-shadow:-1px 9px 12px 1px rgb(38, 43, 42);
    padding-top: 170px;
    position: relative;
}
#right {
    width:19.5%;
    height:250px;
    border:2px solid transparent;
    float:left;
    position:fixed;
    right:0%;
}
.telo {
    width:80%;
    min-height:210px;
    margin:0 auto;
    margin-bottom:125px;
    padding-left:5px;
    background-color: rgba(214, 82, 82, 0.87);
}
.text {
    width:100%;
    min-height:210px;
    margin:0 auto;
    background-color: #FCFDF1;
}
.text:hover {
    width:100%;
    min-height:210px;
    margin:0 auto;
    background-color: #FCFDF1;
    box-shadow: -2px 3px 9px -1px rgb(38, 43, 42);
}
.text .p1 {
    font-family: 'catholicschoolgirls_bbregular';
    color: rgba(254, 237, 208, 0.9);
    font-size:30px;
    font-weight:bold;
    text-align: center;
    border-bottom: 5px double #ffffff;
    margin-left:235px;
    padding-bottom:10px;
    margin-bottom: 10px;
    background-color: #763F1B;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right:0px;
}
.text .p2 {
    font-family: 'catholicschoolgirls_bbregular';
    color: #4F5A56;
    font-size:16px;
    font-weight:bold;
    text-align: justify;
    margin-right:20px;
    margin-left:255px;
    padding-bottom:50px;
    line-height: 25px;
    margin-bottom: 30px;
}
.sprava {
    width:80%;
    min-height:210px;
    margin:0 auto;
    margin-bottom:125px;
    padding-right:8px;
    background-color:  #763F1B;
}
.text2 {
    width:100%;
    min-height:210px;
    margin:0 auto;
    background-color: #FCFDF1;
    box-shadow: -2px 3px 9px -1px rgb(38, 43, 42);
}
.text2:hover {
    width:100%;
    min-height:210px;
    margin:0 auto;
    background-color: #FCFDF1;
    box-shadow: 0px 0px 0px 0px rgb(38, 43, 42);
}
.text2 .p1 {
    font-family: 'catholicschoolgirls_bbregular';
    color: #f9fffb;
    font-size:30px;
    font-weight:bold;
    text-align: center;
    border-bottom: 5px double #BDBDBD;
    margin-right:235px;
    padding-bottom:10px;
    margin-bottom: 15px;
    margin-top:15px;
    background-color: rgba(214, 82, 82, 0.87);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.text2 .p2 {
    font-family: 'oedipaplain';
    color: #4F5A56;
    font-size:16px;
    font-weight:bold;
    text-align: justify;
    margin-right:245px;
    margin-left:45px;
    padding-bottom:50px;
    line-height: 25px;
    margin-bottom: 30px;
}
.ripplelank{
    position:relative;
    overflow:hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index:0;
}
.ank {
    display: block;
    position: absolute;
    background: rgba(255, 237, 224, 0.35);
    border-radius: 100%;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
}

.animate {
    -webkit-animation:ripple 0.65s linear;
    -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
    -o-animation:ripple 0.65s linear;
    animation:ripple 0.65s linear;
}
#center .telo .text .p2 .buttnext {
    text-decoration: none;
    color: #ffffff;
    background-color: #763F1B;
    border-radius: 20px;
    padding: 2px 26px 5px;
    font-size: 19px;
    font-weight:bold;
    letter-spacing: 1px;
    box-shadow: -7px 7px 7px -7px rgb(59, 77, 74);
}
#center .telo .text:hover .p2 .buttnext {
    text-decoration: none;
    color: #ffffff;
    background-color: #763F1B;
    border-radius: 15px;
    padding: 2px 26px 5px;
    font-size: 19px;
    font-weight:bold;
    letter-spacing: 1px;
    box-shadow: -18px 15px 21px -9px rgb(38, 43, 42);
}
#center .telo .text .p2 .buttnext:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #763F1B;
    border-radius: 20px;
    padding: 2px 26px 5px;
    font-size: 19px;
    font-weight:bold;
    letter-spacing: 1px;
    box-shadow: -7px 7px 7px -7px rgb(59, 77, 74);
}
#center .sprava .text2 .p2 .buttnext {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(214, 82, 82, 0.87);
    border-radius: 20px;
    padding: 2px 26px 5px;
    font-size: 19px;
    font-weight:bold;
    letter-spacing: 1px;
    box-shadow: -7px 7px 7px -7px rgb(59, 77, 74);
}
#center .sprava .text2:hover .p2 .buttnext {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(214, 82, 82, 0.87);
    border-radius: 15px;
    padding: 2px 26px 5px;
    font-size: 19px;
    font-weight:bold;
    letter-spacing: 1px;
    box-shadow: -18px 15px 21px -9px rgb(38, 43, 42);
}
#center .sprava .text2 .p2 .buttnext:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(214, 82, 82, 0.87);
    border-radius: 20px;
    padding: 2px 26px 5px;
    font-size: 19px;
    font-weight:bold;
    letter-spacing: 1px;
    box-shadow: -7px 7px 7px -7px rgb(59, 77, 74);
}
.leiba {
    width:600px;
    height:150px;
    margin:0 auto;
    margin-top: -155px;
    background-color: rgba(254, 237, 208, 0.9);
    padding-top: 45px;
    transform:rotate(-7deg);
    box-shadow: -1px 2px 9px -1px rgb(38, 43, 42);
}
.leiba:hover {
    width:600px;
    height:150px;
    margin:0 auto;
    margin-top: -155px;
    background-color: rgba(254, 237, 208, 1);
    padding-top: 45px;
    transform:rotate(0deg);
    box-shadow: 0px 0px 0px 0px rgb(38, 43, 42);
}
.leiba .p1 {
    font-family: 'Conv_Micra Normal';
    color: #01B3EB;
    font-size:60px;
    font-weight:bold;
    text-align: center;
    margin-top:-112.5px;
    border-bottom: 7.5px double #763F1B;
}
.leiba .bigS {
    font-family: 'King';
    color: #763F1B;
    font-size:100px;
    font-weight:bold;
    padding: 0;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(1.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(1.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(1.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(1.5);}
}
@font-face {
    font-family: 'King';
    src: url('../font/King/569274903-Bayou-Cowboy.eot');
    src: local('☺'),
    url('../font/King/569274903-Bayou-Cowboy.woff') format('woff'),
    url('../font/King/569274903-Bayou-Cowboy.ttf') format('truetype'),
    url('../font/King/569274903-Bayou-Cowboy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Main';
    src: url('../font/Main/ninactt-normal.eot');
    src: local('☺'),
    url('../font/Main/ninactt-normal.woff') format('woff'),
    url('../font/Main/ninactt-normal') format('truetype'),
    url('../font/Main/ninactt-normal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}